// menu component
.menu {
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  padding: $half-space;
  position: fixed;
  top: 0px;
  right: 0px;  
  
  transform: translateX(100%);
  
  will-change: transform;
  transition: transform 0.6s;;

  &.is-open{
    transform: translateX(0);
  }

  // List top padding
  $list-top-paddng: 100px;
  ul{
    padding-top: $list-top-paddng;
    height: calc(100vh - #{$list-top-paddng});
  }
  a{
    display: block;
    padding: $half-space;
  }
  .end-element{
    margin-top: auto;
  }
  .close-button{
    position: absolute;
    top: 30px;
    right: 16px;
    width: 36px;
    height: 34px;

    &:before,
    &:after{
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: calc(50% - 2px);
    }
    &:before{
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(-45deg);
    }
  }
}
