// APPLICATION VARS

// Color list
$colors-map: (
    primary: rgba(83, 162, 190, 1),
    secondary: rgba(18, 44, 52, 1),
    tertiary: rgba(184, 12, 9, 1),
    white: rgba(255, 255, 255, 1),
    black: rgba(0, 0, 0, 1)
);

// Font size
$font-base-size: 16px;
$font-sizes-array: 30, 20, 18, 17, 16, 14;
$font-weight-array : 300, 400, 700;

// Font families
$font-family: 'Open Sans', sans-serif;

// Spacing
$full-space: 40px;
$half-space: 20px;