.flex{
    display: flex;;
}
.flex-align-center{
    align-items: center;
}
.flex-align-end{
    align-items: flex-end;
}
.flex-justify-center{
    justify-content: center;
}
.flex-justify-between{
    justify-content: space-between;
}
.flex-column{
    flex-direction: column;
}